.grid2 {
    display: grid;
    grid-template-columns: 20px 20px 20px 20px 20px;
    grid-column-gap: 100px;
    grid-row-gap: 20px;
    margin-bottom: 100px;
    align-items: center;
    justify-content: center;
    margin-right: 100px;
}

.box2 {
    border-style: solid;
    display: flex;
    justify-content: center;
    border-radius: 10px;
    width: 100px;
}

.score2 {
    position: absolute;
    top: 100px;
    right: 150px;
}

.timer2 {
    position: absolute;
    bottom: 100px;
    right: 150px;
}